:root {
  --color-primary: #718dd6;
  --color-dark-blue: #112049;
  --color-paragraph: #141c3a;
  --color-background: #fff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rems = 10px, 10px/16px = 62.5%
  

  // @include respond(phone) { exlcuded because the second querie would still apply so its not really needed
  //   font-size: 50%; //
  // }
  @include respond(tab-land) { // <900px?
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) { // <600px?
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }
  
  @include respond(big-desktop) {
    font-size: 75%; //1rem= 12px, 12/16 = 75%
  }

}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  line-height: 1.6;
  color: var(--color-dark-blue);

  text-align: center;  }
