/////////////
/////////////Header

.nav {
  display: flex;
  justify-content: space-between;
  width: 65%;
  padding-top: 3rem;
  margin: 0 auto;

  @include respond(tab-port){
    width: 80%;
  }
}

.hero {
  max-width: 120rem;
  margin: auto;
}

/////////////
/////////////Intro

.intro {
  background-color: var(--color-dark-blue);
  
  height:90rem;
  z-index: auto;
  @include respond(tab-port){
    height: auto;
  }

  &_paragraph {
    max-width: 80rem;
    margin: auto;
    margin-top: 8rem;
    @include respond(tab-port) { 
      max-width: 65rem;
      padding: 2rem 2rem 5rem;
      margin: auto;
    }
  }

  &_p {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    
  }

}

/////////////
/////////////Content

.content {
  display: flex;
  justify-content: center;

  background-color: var(--color-background);

  @include respond(tab-land) {
    
    
  }
}

.box {
  max-height: fit-content;
  width: 120rem;
  margin-top: 6rem;
  z-index: 1;

  @include respond(tab-port) {
    width: auto;
    margin-top: 2rem;
    
  }
}   

.table {
  display: flex;
  max-height: 100%;
  width: 100%;
  @include respond(tab-port) {
    display: block;
    max-width: 65rem;
    padding: 2rem;
  }
}

.column {
  padding: 12rem 5rem;
  border-right: 1px solid #cecece;
  border-bottom: 0px solid #e6ecf8;
  width: 33.33%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include respond(tab-port) { 
    padding: 4rem 0rem 2rem;
    border-right: none;
    border-bottom: 1px solid #E6ECF8;
  }
  @include respond(tab-land) {
    width: 100%;
    
    padding: 4rem 1rem;
  }

  

  &_top {
    height: 50%;
    @include respond(tab-land) {
      
      
    }
  }

  &:last-child {
    border-right: none;
    border-bottom: none;
  }
}

/////////////
/////////////Gallery

.gallery {
  max-width: 120rem;
  // margin: auto;
  margin: 10rem auto 5rem;
  @include respond(tab-port){
    margin: 6rem auto 3rem;
  }

  &_h2 {
    margin-top: 8rem;
  }

  &_p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @include respond(tab-port){
      margin: 1.5rem 2rem 1.5rem;
    }
  }

  &_display {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    overflow: hidden;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  
}

/////////////
/////////////Sytem
.system {
  max-width: 120rem;
  margin: auto auto 10rem;
  display: inline-block;
}

/////////////
/////////////Footer
.footer {
  background-color: var(--color-dark-blue);
  margin: auto;
  @include respond(tab-port) {
    padding: 0 2rem;
  }

  &_heading {
    margin: 3rem 0 3rem;
  }

  &_buttons {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.legal {
  margin-top: 5rem;
  padding-bottom: 5rem;
}
